.backdrop-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  right: 0;
  transition: visibility 0.5s, opacity 0.5s;
}

.backdrop-overlay--hidden {
  visibility: hidden;
  opacity: 0;
}