@import "../../styles/base";

.header-user-info {
  &__initials {
    background: $main-brand-color;
    display: table;
    color: white;
    padding: units(1);
    border-radius: 50%;
    font-family: $headings-font-family;
    font-weight: bold;
    min-width: 39px;
  }
  &__label {
    font-size: 0.67em;
  }
  &__edit {
    font-weight: 600;
  }
}
