@import "../../styles/base";

.header-user-info {
  position: relative;
  top: calculateRem(-14px);
  &__initials {
    background: $main-brand-color;
    display: table;
    color: white;
    padding: units(1);
    border-radius: 50%;
    font-family: $headings-font-family;
    font-weight: bold;
    font-size: calculateRem(14px);
    min-width: 56px;
    min-height: 56px;
    &:after {
      font-size: calculateRem(10px);
    }
  }
  &__label {
    font-size: 0.67em;
  }
  &__edit {
    font-weight: 600;
  }
}
.user-info-modal .modal-component__body {
    padding: 0!important;
}
