@import"../../styles/base";
@import "../../styles/variables";
@import "../../styles/mixins";

.header-user-editor {
    .tron-form .usa-form {
      @include breakpoint-above(desktop) {
        max-width: 100%;
      }
    }
    .tron-text-input {
      input {
        min-width: 220px;
      }
      .item-choose__input {
        min-width: none;
      }
    }
    .user-editor-header {
        background-color: aliceblue;
    }
    .user-editor-email {
        font-size: medium;
        font-weight: 600;
    }
    .user-editor-dodid {
        font-size: medium;
    }
    .user-editor-content {
        padding: 1.25rem 1.25rem;
    }
    .user-editor-body {
        padding: 1.25rem;
      .user-editor__info-notice {
        &::before {
          height: 100%;
        }
        .usa-alert__text {
          font-size: .85rem;
        }
      }
    }
    .branch-rank-container {
        width: 220px;
    }
    .usa-select {
        width: 104px;
    }
    &__initials {
        background: $main-brand-color;
        display: table;
        color: white;
        padding: units(1);
        border-radius: 50%;
        font-family: $headings-font-family;
        font-weight: bold;
        min-width: 39px;
        text-align: center;
        margin-right: 10px;
    }
}

.success-error-message {
  .success-container {
      &__validation-error {
        color: red;
      }
  }
}
