@import "../../../styles/base";

.tron-text-input {
  input {
    padding: units(.5) units(1);
  }
}

.tron-text-input-inline {
  display: inline-block;
  width: 79%;
  input {
    padding: units(.5) units(.5);
  }
}