@import "../../../styles/base";

.tron-text-input {
  input {
    padding: units(.5) units(1);
  }

  &--appended {
    display: flex;
    align-items: center;

    input {
      margin-top: 0;
    }

    .appended-text {
      font-weight: 600;
      padding: units(.5) units(1);
      width: 100%;
    }
  }

  .tron-text-input__input-container {
    width: 100%;
    
    &--delete {
      position: relative;
  
      input[type="text"] {
        margin-top: 0;
        padding-right: 30px;
      }
  
      button[type="button"] {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        height: 100%;
      }
    }
  }
}
