@import "../../styles/base";
@import "~uswds/dist/scss/elements/buttons";

.usa-button.usa-button--outline.usa-button--inverse{
  color: color('gray-60');
  box-shadow: inset 0 0 0 2px color('gray-40');
  &:hover {
    color: color('gray-40');
  }
}

.usa-button {
  // Default button color
  background-color: #5F96EA;
  border-radius: 8px;
  padding: 12px;

  &--disable-mobile-full-width {
    width: auto;
  }
  
  &--disable-transparent:disabled {
    background-color: transparent;
  }
}

.no-bg-button {
  background-color: transparent;
}

.inline-icon {
  //float: right;
  display: inline-block;
  padding: units(1.5) units(1.5);
  margin-top: 0.5rem !important;
  margin-left: 0.25rem !important;
  text-align: center;
}