@import '../../styles/base';

.sidebar {
  &__tags-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 14px 24px;
    position: relative;
  }

  &__apptag {
    font-size: calculateRem(10px);
    padding-top: 0px;
    padding-left: calculateRem(10px);
    padding-right: calculateRem(10px);

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    &--staging {
      @extend .sidebar__apptag;
      color: #59E8C6;
    }

    &--production {
      @extend .sidebar__apptag;
      color: #fff;
    }
  }

  &__tags-tip {
    background-color:black;
    box-shadow:1px 1px 3px gray;
    border-radius: 4px;
    position: absolute;
    padding: 5px;
    color: white;
    left: center;
    top: 20px;
    z-index: 500;
    
    &-hidden {
      @extend .sidebar__tags-tip;
      display: none;
    }

    &-show {
      @extend .sidebar__tags-tip;
      display: block;
    }
  }
}
