@import "../../styles/mixins";
@import "../../styles/base";

.kpi-content {
  &__date-picker {
    display: flex;
    flex-direction: row;
    column-gap: units(10);
  }

  @include breakpoint-below(desktop) {
    &__date-picker {
      flex-direction: column;
      row-gap: units(2);
    }
  }
}