@import '../../styles/base';
@import "../../styles/mixins";

.kpi-series {
  > :not(:last-child) {
    margin-bottom: units(1);
  }

  > :first-child {
    margin-top: units(2);
  }

  &__flex-chart {
    display: flex;
    flex-direction: row;
    column-gap: units(1);
    row-gap: units(1);
    > * {
      flex: 1;
    }
  }

  &__kpi-chart {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    margin-top: 24px;
    .chart-with-total {
      border: none;
    }
  }

  @include breakpoint-below(tablet) {
    &__flex-chart {
      flex-direction: column;
    }
  }
}
