.recents {

  &__bar {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: flex-start;
    margin-left: 0.5rem;
  }

  &__row {
    display: flex;
    column-gap: units(1);
    overflow-x: scroll;

    .recent-tile-wrapper {
      margin-left: 6px;
      margin-bottom: 6px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

