@import "../../styles/mixins";

.document-space-page {
  &__space-select {
    label {
      margin-top: 0;
    }
  }
  &__space-user-settings {
    margin-top: 0;
    position: absolute;
    right: calculateRem(20px);
  }
}

.add-space-container {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: row;
  font-family: Source Sans Pro, Roboto, Arial, sans-serif;
  height: calculateRem(39px);
  justify-content: space-between;

  div {
    display: flex;
    justify-content: flex-start;
    max-height: inherit;
    align-items: center;

    .select-component {
      display: flex;
      max-height: inherit;
    }

    svg {
      vertical-align: top;
    }

    button {
      margin-left: calculateRem(10px);
      max-height: inherit;
      margin-top: 0.5rem;
    }
  }

  button {
    max-height: inherit;
  }
}

.breadcrumb-area {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  align-items: center;
}

.content-controls {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  & > .usa-button:last-of-type {
    margin-right: 0;
  }
}

// overrides the icon color for
//  trashcan which is red but we want white
.icon-color {
  color:#fff !important;
}
