
@import "./mixins";
@import "./colors";
@import "./fonts";
@import "./spacing";
@import "./popup";

$theme-image-path: '~uswds/dist/img';

/** Overrides */
h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  @include u-line-height('heading', 2);
  color: $font-color-normal;
  a & {
    color: $link-color;
  }
}
p {
  font-family: Roboto, Arial, sans-serif;
  @include u-font-size('body', 'sm');
  @include u-line-height('body', 5);
  color: $font-color-normal;
}

a {
  color: $link-color;
}

div, span {
  font-family: Roboto, Arial, sans-serif;
  @include u-font-size('body', 'sm');
  color: $font-color-normal;
}

.usa-combo-box__list, .usa-combo-box__input, .usa-input-group, .usa-input, .usa-textarea, .usa-range, .usa-select, .usa-fieldset, .usa-hint {
  font-family: Source Sans Pro, Roboto, Arial, sans-serif;
}

