
@import "./mixins";
@import "./colors";
@import "./fonts";
@import "./spacing";

/** Overrides */
h1, h2, h3, h4, h5, h6 {
  font-family: Lato, 'sans-serif';
  @include u-line-height('heading', 2);
  color: $font-color-normal;
  a & {
    color: $link-color;
  }
}
p {
  font-family: Roboto, Arial, 'sans-serif';
  @include u-font-size('body', 'sm');
  @include u-line-height('body', 5);
  color: $font-color-normal;
}

a {
  color: $link-color;
}

div, span {
  font-family: Roboto, Arial, 'sans-serif';
  @include u-font-size('body', 'sm');
  color: $font-color-normal;
}

$theme-image-path: '~uswds/src/img';
$theme-font-path: '~uswds/src/fonts';
$theme-hero-image: '~uswds/src/img/hero.png';
@import '~uswds/src/stylesheets/packages/_required.scss';
@import 'uswds'; // <-- this goes at the end, contains USWDS CSS