
$dark-shade: #181824;
$dark-accent: #725d76;
$main-brand-color: #1a90e1;
$light-accent: #4ac1db;
$light-shade: rgb(241,244,249);

$page-title-background: #e9edf2;
$page-border-color: #dee2e8;

$success: #3da67c;
$error: #f44336;

.success-icon-color {
  color: $success;
}

.remove-icon-color {
  color: $error;
}



