@import"../../styles/mixins";

.add-data-container {
  margin-bottom: calculateRem(16px);
  display: flex;
  justify-content: flex-end;
}

.data-crud-content {
  div {
    font-family: Source Sans Pro, Roboto, Arial, sans-serif;
  }
}