@import "../../styles/base";

.page-format {
  display: flex;

  &__nav-menu {
    flex: 0 0 220px;
    background: #1C3E6B;
    min-height: 100vh;
    position: sticky;

    &-il2 {
      background: #0A4638;
    }

    &-il4 {
      background: #1C3E6B;
    }

    .nav-menu {
      &__user-info {
        position: absolute;
        bottom: 0;
        padding-left: calculateRem(15px);
        padding-bottom: calculateRem(23px);
      }
      &__collapse-toggle {
        position: absolute;
        bottom: calculateRem(27px);
        right: 0px;
      }
    }
  }
  &__page-body-container {
    flex: 1;
    min-width: 0;
    overflow: auto;
  }

  &__page-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .page-body {
    &__title-section {
      flex: 0 0 80px;
      background: $page-title-background;
      border-bottom: 1px solid $page-border-color;
      padding: $default-panel-padding-y $page-padding ;
    }
    &__content {
      flex: 1;
      background: $light-shade;
    }
  }
}
