@import "../../styles/base";

.modal-component {
  &__react-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
  }
  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__header {
    position: relative;
    flex: 0 0 units(7);
    border-bottom: solid 1px $page-border-color;
    .header {
      &__close-icon {
        position: absolute;
        right: $default-panel-padding-x;
        top: 14px;
        cursor: pointer;
        background: none;
        border: none;
        padding: 0;
        display: block;
        .close-icon {
          color: color('gray-40');
        }
        &:hover {
          .close-icon {
            color: color('gray-60');
          }
        }
      }
    }
  }
  &__body {
    flex: 1;
    padding: $default-panel-padding-x $default-panel-padding-y;
  }
  &__footer {
    flex: 0 0 units(8);
    border-top: solid 1px $page-border-color;
  }
}

.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Content {
  max-height: 100vh;
}