@import '../../styles/base';

.organization-edit-form {
  &__input-actions {
    display: flex;
    align-items: center;
    position: relative;
    top: 3px;
    float: right;
    .input-actions {
      &__icon-btn {
        margin: 0 0 0 units(1);
      }

      &__remove-input {
        width: 100%;
      }
    }

    .tron-text-input-delete {
      flex: 1 1;
    }

    &--grid {
      display: inline-flex;
      .input-actions {
        &__icon-btn {
          margin: 0 units(1) 0 units(0.5);
        }
      }
    }
  }

  .add-action {
    border: 1px solid $add-action-green;
    border-radius: 3px;
    :hover {
      background-color: $add-action-green;
      color: white;
    }
  }
}
