@import '../../styles/base';

.organization-edit-form {
  &__input-actions {
    display: flex;
    align-items: center;

    .input-actions {
      &__icon-btn {
        margin: 0 0 0 units(1);
      }

      &__remove-input {
        width: 100%;
      }
    }

    .tron-text-input-delete {
      flex: 1 1;
    }
    
    &--grid {
      display: inline-flex;
      .input-actions {
        &__icon-btn {
          margin: 0 0 0 units(0.5);
        }
      }
    }
  }
}