@import "../../styles/base";

.sidebar {
  &__logo-section {
    img {
      margin-bottom: .75rem;
    }
  }
  &__nav {
    margin-top: calculateRem(30px);
    margin-left: calculateRem(12px);
  }
  .nested-sidebar-nav {
    margin-left: calculateRem(10px);
    margin-bottom: 1rem;
  }
}
