@import "../../styles/colors";
@import "../../styles/mixins";

.sidebar-item {
    color: $light-shade;
    text-decoration: none;

    &.active {
        color: $light-accent;

        .sidebar-item__name {
            border-left: calculateRem(5px) solid $light-accent;
        }
    }

    &__name {
        padding-left: calculateRem(5px);
        border-left: calculateRem(5px) solid transparent;
    }

    &:hover {
        color: $light-accent;
        text-decoration: none;
    }
}