@import "../../styles/colors";
@import "../../styles/mixins";

.sidebar-item {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &--active {
    .sidebar-item {
      &__container {
        > * {
          color: $light-accent;
          stroke: $light-accent;
        }
      }
    }
  }

  &--active-border {
    .sidebar-item {
      &__container {
        border-right: calculateRem(5px) solid $light-accent;
      }
    }
  }

  &__container {
    color: $light-shade;
    display: flex;
    align-items: center;
    padding-right: 5px;

    & > * {
      color: $light-shade;
    }

    &:hover {
      > * {
        transition: 0.5s;
        color: $light-accent;
        stroke: $light-accent;
      }
    }

    .container {
      &__name {
        font-size: calculateRem(14px);
        font-weight: 500;
        line-height: calculateRem(16.41px);
      }

      &__icon {
        margin-right: calculateRem(25px);
        flex: 0 0 25px;
      }
    }
  }
}
