@import '../../styles/base';

.app-source-form {
  &__add-admin-btn.usa-button {
    width: 100%;
    margin-top: 0;
    margin-bottom: units(0.5);
  }
  &__admins-form-group {
    margin-bottom: .5rem;
  }

  .admin-email-grid {
    margin-top: 1rem;
  }
}

.endpoint-editor-modal {
  width: 40vw !important;

  @include breakpoint-below(desktop) {
    width: 55vw !important;
  }

  @include breakpoint-below(laptop) {
    width: 70vw !important;
  }

  @include breakpoint-below(mobile) {
    width: 100vw !important;
  }
}
