@import "../../styles/base";
@import "../../styles/mixins";
@import "../../styles/spacing";

.client-form {
  .client-name-container {
    margin-bottom: calculateRem(20px);

    &__input {
      display: block;
      width: 100%;
    }

    .usa-input--error {
      position: relative;
      animation: shake .1s linear;
      animation-iteration-count: 1;
      border: 2px solid red;
      border-radius: calculateRem(3px);
      outline: none;
    }
  }

  .permissions-container {
    margin-bottom: calculateRem(20px);

    .usa-checkbox {
      &__label {
        margin-left: calculateRem(10px);
      }

      &__label, &__input {
        cursor: pointer;
      }
    }
  }

  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &__submit {
      margin-left: units(2);
    }
  }

  @media (min-width: 30em) {
    .button-container {
      flex-direction: row;
    }
  }

  .validation-error {
    color: red;
  }

  .successful-operation {
    color: green;
  }

  &__success-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .successful-operation {
      margin: 0;
    }
    .success-container__close {
      margin: 0;
    }
  }
}

@keyframes shake {
  0% {
    left: calculateRem(5px);
  }
  100% {
    right: calculateRem(5px);
  }
}
