@import"../../styles/base";

.crud-level-checkboxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;    
}

.crud-level-checkbox {
    margin-left: 10px;
}

.field-level-privs {
    height: 200px;
    overflow: auto;
}

.accordian-top-spacer {
    margin-top: 10px;
}