
.success-error-message {

    .success-container {
      &__validation-error {
        color: red;
      }
  
      &__successful-operation {
        color: green;
        margin: 0;
      }
  
      &__close {
        margin: 0;
      }
    }
  
    &__success-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
    }
  }
  