@import "../../../styles/mixins";
@import "../../../styles/colors";

.document-space-members {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint-below(mobile) {
      flex-direction: column;
      justify-content: unset;
      align-items: unset;
    }

    margin: 1rem 0 0.5rem 0;

    .header {
      &__title {
        margin: 0;
      }
    }
  }
}

.edit-members-form {
  width: 100%;
  min-width: 100%;
}

.pre-title-icon {
  padding: 4px 4px 4px 4px;
  border: 1px solid #E5E5E5;
  border-radius: 4;
  margin-right: 14px;
}